# FastAPI and server
fastapi
uvicorn
python-multipart
pydantic
python-dotenv
pandas
openpyxl
pyarrow
numpy
joblib
azure-storage-blob
azure-core
pytest
pytest-asyncio
httpx
scikit-learn==1.7.2
lightgbm==4.5.0
xgboost==2.1.1
category-encoders==2.6.3
git+https://github.com/tcc-no-show-appointment/noshow_lib.git@main
