# FastAPI and server
fastapi
uvicorn
python-multipart
pydantic
python-dotenv

# Data handling
pandas
openpyxl
pyarrow
numpy
joblib
scikit-learn

# Azure Storage
azure-storage-blob
azure-core

# Testing
pytest
pytest-asyncio
httpx

# NoShow Library
git+https://github.com/tcc-no-show-appointment/noshow_lib.git@main
